:root {
    /* font color */
    --text-color: #333333;
    --caption-color: #acacac;

    /* ui color */
    --primary-color: #a81e3c;
    --secondary-color: #f49902;
    --tertiary-color: #a5978b;
    --on-background-color: #ffffff;
    --on-background-color-2: #fafafa;

    /* design color */
    --pink-color: #ffb4cd;
    --pink-light-color: #ffdce8;
    --yellow-color: #ffe091;
    --blue-color: #00adc8;
    --blue-light-color: #eafcff;
    --blue-dark-color: #1d1a47;
}